/* @import "mocha.css"; */
@import "dark_modern.css";

* {
    border: none;
    border-radius: 0;
    font-family: 'MesloLGS NF', monospace;
    font-weight: bold;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    /* background: rgba(21, 18, 27, 0); */
    background: @base;
    color: @text;
}

tooltip {
    background: @base;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @crust;
}

#workspaces button {
    padding: 5px;
    color: @text;
    margin-right: 5px;
}

#workspaces button.active {
    color: @blue;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @crust;
    background: #2ea043;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @base;
    color: @blue;
    border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: @base;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    color: @blue
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: @base;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-updates {
    color: @text;
    border-left: 0px;
    border-right: 0px;
}

#clock {
    color: @text;
    border-radius: 10px;
    margin-left: 10px;
}

#network {
    color: @text;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: @text;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #2ea043;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#backlight {
    color: @text;
    border-left: 0px;
    border-right: 0px;
}
